<div class="header">
  <a
    target="_blank"
    href="https://www.bru.finance"
    style="padding: 6px; margin-right: 17px; margin-left: 10px"
    class="logo"
    ><img style="width: 130px" src="../assets/brand-logo-bru.png"
  /></a>
  <div>
    <a href="/marketplace">My Borrowings</a>
    <!-- <a href="/my-loans">My Loans</a> -->
    <a href="/lendings">My Deposits</a>
    <a href="/how-it-works">How it works</a>
  </div>
  <!-- <div class="header-right">
    <input class="inputbarsearch" type="text" name="search" placeholder="Search your favourite commodity here">
  </div> -->
</div>
