<app-header></app-header>

<div style="text-align: center">
  <p class="betaa">Beta</p>
  <h1
    style="
      text-align: left;
      padding-left: 11%;
      margin-top: 4%;
      font-weight: bold;
      font-size: 22px;
    "
  >
    How it Works?
  </h1>
  <p
    style="
      text-align: left;
      padding-left: 11%;
      font-weight: bold;
      font-size: 16px;
      color: grey;
      margin: 0;
      width: 70%;
    "
  >
    This application is in BETA currently. You can try out the application on
    the Kovan Testnet. Please follow the suggested steps.
  </p>
  <div style="width: 600px; margin: 0 auto; padding: 20px 0">
    <div class="row" style="width: 100%; display: flex">
      <div class="col-2">
        <p class="colorbtn">1</p>
      </div>
      <div class="col-10" style="margin-top: 9px">
        <p class="pbtntext">
          The borrower applies for a loan against their commodity.
        </p>
      </div>
    </div>
    <div class="row" style="width: 100%; display: flex">
      <div class="col-2">
        <p class="colorbtn">2</p>
      </div>
      <div class="col-10">
        <p class="pbtntext">
          Depositor can deposit ETH in preferred quantity to Brú.Pool. Interest
          will accrue, and withdrawal is permitted at any time.
        </p>
      </div>
    </div>
    <div class="row" style="width: 100%; display: flex">
      <div class="col-2">
        <p class="colorbtn" style="margin-top: 25px">3</p>
      </div>
      <div class="col-10">
        <p class="pbtntext">
          Depositor needs to click on Deposit Now and enter the amount of ETH to
          be deposited. Details of the transaction would be shown. Visit
          <a href="https://faucet.kovan.network/" target="_blank"
            >https://faucet.kovan.network</a
          >
          for receiving test ETH on the Kovan Network.
        </p>
      </div>
    </div>
    <div class="row" style="width: 100%; display: flex">
      <div class="col-2">
        <p class="colorbtn" style="margin-top: 15px">4</p>
      </div>
      <div class="col-10">
        <p class="pbtntext">
          Sign your transaction with MetaMask, which is essentially a gateway
          from your browser to blockchain apps. You can install it from
          <a href="https://metamask.io/" target="_blank"
            >https://metamask.io/</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
