<app-header></app-header>

<div style="text-align: center">
  <h1 style="font-size: 55px; margin: 0; margin-top: 12px">Bridging the Gap</h1>
  <h2 style="margin: 0; margin-top: 2px; font-size: 35px; color: grey">
    CeFi to DeFi for $4 Trillion<br />
    Asset Backed Loans
  </h2>
  <p style="margin: 22px; margin-bottom: 0; font-size: 25px; color: grey">
    Loan Against Commodities - First Use Case
  </p>
  <div style="margin-top: 5%; margin-bottom: 7%">
    <img src="../assets/1.png" class="centerimg" />
    <img src="../assets/2.png" class="centerimg" />
    <img src="../assets/3.png" class="centerimg" />
    <img src="../assets/4.png" class="centerimg" />
    <img src="../assets/5.png" class="centerimg" />
  </div>
  <a href="/marketplace" class="explorelend">EXPLORE & LEND</a>
  <!-- <div class="brderbtm"></div>
  <div class="row" style="display: flex;
  width: 100%;">
    <div class="col-6">
      <p><img class="ingstar" src="../assets/gstar.png">
        Bringing Real Assets to DeFi</p>
      <p><img class="ingstar" src="../assets/gstar.png">Over $400M+ Commodities Tokenized</p>
      <p><img class="ingstar" src="../assets/gstar.png">Real-time Loans</p>
    </div>
    <div class="col-6">
      <p><img class="ingstar" src="../assets/gstar.png">Bringing Real Assets to DeFi</p>
      <p><img class="ingstar" src="../assets/gstar.png">Bringing Real Assets to DeFi</p>
      <p><img class="ingstar" src="../assets/gstar.png">Bringing Real Assets to DeFi</p>
    </div>
  </div> -->
</div>
